@model UCP_PAW_1.Models.Kela

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kela</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaKelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaKelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMapelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMapelNavigation.IdMapel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKelas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
