@model IEnumerable<UCP_PAW_1.Models.Guru>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Data Guru</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                NIP
            </th>
            <th>
                Nama Guru
            </th>
            <th>
                Alamat Guru
            </th>
            <th>
                No Hp
            </th>
            <th>
                Keterangan
            </th>
            <th>
                Id Mapel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaGuru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatGuru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMapelNavigation.IdMapel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGuru"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdGuru"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdGuru"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
