@model UCP_PAW_1.Models.Nilai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Nilai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahNilai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahNilai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kkm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kkm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keterangan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGuruNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGuruNavigation.IdGuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMapelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMapelNavigation.IdMapel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSiswaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSiswaNavigation.IdSiswa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNilai">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
